/* line 6, ../scss/screen.scss */
body {
  font-family: Muli;
  padding: 8px;
}

/* line 11, ../scss/screen.scss */
#logo_description {
  background: blue;
}

/* line 14, ../scss/screen.scss */
#logo {
  background: green;
  width: 400px;
}

/* line 18, ../scss/screen.scss */
#description {
  background: orange;
}

/* line 22, ../scss/screen.scss */
#tabs {
  background: red;
}

/* line 30, ../scss/screen.scss */
#search {
  background: lime;
  width: 400px;
}

/* line 35, ../scss/screen.scss */
#divider {
  background: yellow;
}

/* line 39, ../scss/screen.scss */
#results {
  background: purple;
}
