

$left_col_width: 200px;
$left_col_width_on_mobile: 100%;
$padding: 8px;
$margin: 4px;
$no_padding: 0px;
$ui_breakpoint: 400px;

$media_dump_colour: maroon;
$media_dump_inverse_colour: #fff;



body{
	font-family: Muli;
	padding: $padding;
}
a{color: $media_dump_colour;}
a:hover{color: $media_dump_colour;}
a:visited{color: $media_dump_colour;}
a:active{color: $media_dump_colour;}

#logo_description{
}
#logo{
	width: $left_col_width;
	padding: $padding;
}
#description{
	padding: $padding;
}

#tabs{
	padding: $padding;
	padding-left: $no_padding;
	padding-right: $no_padding;
}

#search_results{
	
}

#search{
	width: $left_col_width;
	padding: $padding;
}

#results{
	padding: $padding;
}

.flexible_container_left_fixed{clear: both;}
.flexible_container_left_fixed .left_div{
	float:left;
	width:$left_col_width;

	background-image: linear-gradient(to left, #f6f6f6 0%, #fff 16px);
}
.flexible_container_left_fixed .right_div{
	margin-left:$left_col_width;
}



#tabs{display:none;}

.tab-pane#map{max-height: 80%;}
.default_query{
	width: 100%;
	margin-top: $padding;
	display: block;
	cursor: pointer;
}

ul.nav-pills a{padding: 4px;}


#search_input button.active{background: $media_dump_colour;color: $media_dump_inverse_colour;}


#thumb_results a.thumb_result_link img{
	margin-right: $margin;
	margin-bottom: $margin;
	padding-right: 0px;
}

#search_input{
	margin-bottom: $padding;
}

.angular-leaflet-map{height: 100%;}


@media (max-width:$ui_breakpoint) {
	#logo{width:$left_col_width_on_mobile;}
	#search{width:$left_col_width_on_mobile;}


	.flexible_container_left_fixed .left_div{
		background-image: none;
		box-shadow: none;
	}
	.flexible_container_left_fixed .right_div{margin-left: 0px;}


	/* small layout */
	#tabs{display:block;}

	#description{
		display: none;
	}

	#logo{width: 100%;}

	.left_div{width: 100%;}
	.right_div{
		width: 100%;
		margin-left: 0px;
	}

	.search_results_tab{display:none;width:100%;}
	.search_results_tab.active{display:block;width:100%;}


}



/*
bootstrap
*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}