

$left_col_width: 400px;


body{
	font-family: Muli;
	padding: 8px;
}

#logo_description{
	background: blue;
}
#logo{
	background: green;
	width: $left_col_width;
}
#description{
	background: orange;
}

#tabs{
	background: red;
}

#search_results{
	
}

#search{
	background: lime;
	width: $left_col_width;
}

#divider{
	background: yellow;
}

#results{
	background: purple;
}