

$left_col_width: 300px;
$padding: 8px;


body{
	font-family: Muli;
	padding: $padding;
}

#logo_description{
	background: blue;
}
#logo{
	background: green;
	width: $left_col_width;
	padding: $padding;
}
#description{
	background: orange;
	padding: $padding;
}

#tabs{
	background: red;
	padding: $padding;
}

#search_results{
	
}

#search{
	background: lime;
	width: $left_col_width;
	padding: $padding;
}

#results{
	background: purple;
	padding: $padding;
}

.flexible_container_left_fixed{}
.flexible_container_left_fixed .left_div{float:left;width:$left_col_width;}
.flexible_container_left_fixed .right_div{margin-left:$left_col_width;}