<!DOCTYPE html>
	<head>
		<title>media-dump: sam thomsons pictures &amp; videos</title>

		<!-- meta -->
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

		<!-- css & fonts -->
		<!-- fonts -->
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
		<!-- bootstrap -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<!-- app specific -->
		<link rel="stylesheet" href="/css/style.css" type="text/css">

		<!-- flow player -->
		<link rel="stylesheet" href="//releases.flowplayer.org/5.5.0/skin/minimalist.css">



	</head>
	<body ng-app="mediadumpApp">

		<noscript>Sorry, this page uses Javascript, which isn't enabled in your browser. You need to turn it on.</noscript>

		<!-- the actual webpage -->
		<div id="mainBody" ng-controller="mediadumpCtrl">
			<div id="header" class="clearfix">
				<a id="logo" class="left_position" ng-click="query = default_query">media-dump</a>
				<div id="search_input" class="right_position">					
					<div class="input-group">
					    <input class="form-control" id="search_text_input" name="key" placeholder="type for search suggestions..." ng-model="query" type="text">

					    <div class="input-group-btn">
					        <button class="btn btn-default" id="toggle_advanced_search_form" ng-click="bShowAdvancedSearch = !bShowAdvancedSearch" title="advanced search" type="button" ng-class="{true:'advanced_showing'}[(bShowAdvancedSearch && bResults())]" ng-disabled="(!bResults()) && (query === '')">
					        	<i class="glyphicon glyphicon-sort-by-attributes"></i>&nbsp;
				        	</button>

							<button class="btn btn-default" ng-click="search_mode = 'search'" type="button" ng-class="{active: search_mode == 'search'}">
								grid
							</button>
							<button class="btn btn-default" ng-click="search_mode = 'map'" type="button" ng-class="{active: search_mode == 'map'}">
								map
							</button>
					    </div>
					</div>
					<div id="advanced_search" class="light_opacity" ng-show="bShowAdvancedSearch">
						<div class="form-group">
							<div class="refine_filters">
								<a ng-click="addFilter($index)" ng-repeat="filter in available_filters" class="filter" ng-class="{true:'active'}[filter.add === true]">{{filter.value}}</a>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-9">					
								sort by: 
								<select ng-model="sort_mode" class="form-control" ng-disabled="search_mode != 'search'">
									<option value="datetime">datetime</option>
									<option value="elevation">elevation</option>
								</select>
								sort direction: 
								<select ng-model="sort_direction" class="form-control" ng-disabled="search_mode != 'search'">
									<option value="asc">asc</option>
									<option value="desc">desc</option>
								</select>
							</div>
							<div class="col-xs-3">
								<div class="form-group">
									<div class="btn-group operator_toggle">
										<button type="button" class="btn btn-default" ng-class="{true:'active'}[operator === 'and']" ng-click="operator = 'and'">and</button>
										<button type="button" class="btn btn-default" ng-class="{true:'active'}[operator === 'or']" ng-click="operator = 'or'">or</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="main">

				<div id="nav" class="left_position">

					<ul class="nav nav-pills">
						<li class="active">
							<a href="#browse" role="tab" data-toggle="tab" ng-click="setSearchInputMode('tree')">Browse</a>
						</li>
  						<li>
  							<a href="#search_map" role="tab" data-toggle="tab" ng-click="setSearchInputMode('map')">Map</a>
  						</li>
						<!--<li class="dropdown">
						    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
						      More <span class="caret"></span>
						    </a>
					    	
					    	<ul class="dropdown-menu" role="menu">
					    	</ul>
					    </li>-->
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="browse">
														
							<div class="tree_link" ng-repeat="path in default_queries" ng-click="do_default_query('directory.path_folders='+path.dir)">
								<img ng-src="{{sourceFromData(path['data_thumb'])}}"/> {{path.dir}}
							</div>

						</div>
						<div class="tab-pane" id="search_map" ng-if="bMapRefreshed">
							<!-- TODO: map input -->
							
							<google-map
								center="search_map.center" 
								zoom="search_map.zoom"
								refresh="bMapRefreshed"
								draggable='true'
								events="search_map.events"
								bounds="search_map.bounds"
								options="media_dump_map_options"
								>
								<markers
									models="markers"
									coords="'self'"
									doCluster="true"
									icon="'icon'"
									events="markersEvents"
									>
								</markers>
							</google-map>
						</div>
						<div class="tab-pane" id="more">...</div>
					</div>


				</div>

				<div id="results" class="right_position">
					<div id="loading" ng-show="bSearching"><i class="glyphicon glyphicon-refresh spin"></i> loading</div>
					<!-- thumb results (grid search) -->
					<div id="thumb_results" ng-show="search_mode === 'search'">
						<a class="thumb_result_link" ng-repeat="result in results" ng-mousedown="preload_thumb($index)" ng-click="thumb_click($index)"><img ng-src="{{urlFromHash('thumbs', result, '')}}"/></a>
					</div>

					<!-- map results (map search) -->
					<div id="map_result_container" ng-show="bMapVisible()" ng-if="bMapVisible()">
					<!--<div id="map_result_container">-->
						<google-map 
							center="map.center" 
							zoom="map.zoom" 
							draggable='true'
							bounds="map.bounds"
							options="media_dump_map_options"
							>
							<markers
								models="markers"
								coords="'self'"
								doCluster="true"
								icon="'icon'"
								events="markersEvents"
								>
							</markers>
						</google-map>
					</div>
				</div>
				<div id="pagination" class="right_position" ng-show="results.length > 0">
					<div id="map_pagination" ng-show="search_mode==='map'">
						showing {{i_markers_showing}}/{{results.length}}
					</div>
					<div id="grid_pagination" ng-show="search_mode==='search' && result_info.available_pages > 1">
						<div class="row">
							<div class="col-xs-6">
								<a class="btn btn-default form-control text-center" ng-show="page > 1" ng-click="page = page - 1"><i class="glyphicon glyphicon-chevron-left"></i> previous</a></div>
							<div class="col-xs-6"><a class="btn btn-default form-control text-center" ng-show="page < (result_info.available_pages)" ng-click="page = page + 1">next <i class="glyphicon glyphicon-chevron-right"></i></a></div>
						</div>
					</div>
				</div>
			</div>


			<div id="lightbox" ng-show="iLightIndex > -1">
				<a class="lightbox_button" id="close_lightbox" ng-click="close_lightbox();">
					<i class="fa fa-times"></i>
				</a>
				<a class="lightbox_button" id="left_lightbox" ng-click="lightChange(-1);">
					<i class="fa fa-arrow-left"></i>
				</a>
				<a class="lightbox_button" id="right_lightbox" ng-click="lightChange(1);">
					<i class="fa fa-arrow-right"></i>
				</a>
				<a ng-click="lightChange(1);" ng-show="results[iLightIndex].type === 'image'">
					<img ng-if="iLightIndex > -1 && results[iLightIndex].type === 'image'" ng-src="http://mdcdn/thumb/lightbox/{{results[iLightIndex].id}}.jpg" />
				</a>
				<div id="player" ng-show="results[iLightIndex].type === 'video'"></div>
			</div>
		</div>

		<!-- scripts & analytics -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

		<!-- angular 
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>-->
		<script src="/js/angular_1_2_fallback.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>

        <script src='/js/lodash.min.js'></script>
        <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
		<script src='/js/angular-google-maps.min.js'></script>
		<!-- bootstrap -->
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

		<!-- app -->
		<script src="/js/app.js"></script>

		<!-- flow player -->
		<script src="//releases.flowplayer.org/5.5.0/flowplayer.min.js"></script>

	</body>
</html>