<html>
	<head>
		<title>media-dump: sam thomsons pictures &amp; videos</title>

		<!-- meta -->
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

		<!-- css & fonts -->
		<!-- fonts -->
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
		<!-- bootstrap -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<!-- app specific -->
		<link rel="stylesheet" href="/css/style.css" type="text/css">
	</head>
	<body ng-app="mediadumpApp">

		<noscript>Sorry, this page uses Javascript, which isn't enabled in your browser. You need to turn it on.</noscript>

		<!-- the actual webpage -->
		<div id="mainBody" ng-controller="mediadumpCtrl">
			<div id="header" class="clearfix">
				<a id="logo" ng-click="query = ''">media-dump</a>
				<div id="search_input">					
					<div class="input-group">
					    <input class="form-control" id="search_text_input" name="key" placeholder="type for search suggestions..." ng-model="query" type="text">

					    <div class="input-group-btn">
					        <button class="btn btn-default" id="toggle_advanced_search_form" ng-click="bShowAdvancedSearch = !bShowAdvancedSearch" title="advanced search" type="button" ng-class="{true:'advanced_showing'}[bShowAdvancedSearch]">
					        	<i class="glyphicon glyphicon-sort-by-attributes"></i>&nbsp;
				        	</button>
					        <button class="btn btn-media-dump">
					        	<i class="glyphicon glyphicon-search"></i>&nbsp;
					        </button>
					    </div>
					</div>
					<div id="advanced_search" class="light_opacity" ng-show="bShowAdvancedSearch">
						<div class="row">
							<div class="col-xs-9">
								<a ng-click="addFilter($index)" ng-repeat="filter in available_filters">{{filter.value}}</a>&nbsp;
								<hr/>
								sort
							</div>
							<div class="col-xs-3">
								<div class="btn-group">
									<button type="button" class="btn btn-default" ng-class="{true:'active'}[operator === 'and']" ng-click="operator='and'">and</button>
									<button type="button" class="btn btn-default" ng-class="{true:'active'}[operator === 'or']" ng-click="operator='or'">or</button>
								</div>
								<hr/>
								<a class="btn btn-default" ng-show="bUpdate()" ng-click="refreshSearch();">update</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="main">

				<div id="nav">
					left - nav (tree and map tab)
				</div>

				<div id="results">
					<div id="thumb_results" ng-show="search_mode === 'search'">
						<a class="thumb_result_link" ng-repeat="result in results" ng-click="thumb_click($index)"><img alt="result.p" title="result.p" ng-src="{{urlFromHash('thumbs', result, '')}}"/></a>
					</div>
				</div>
			</div>
						
		</div>

		<!-- scripts & analytics -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<!-- angular -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>
        <script src='/js/lodash.min.js'></script>
        <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
		<script src='/js/angular-google-maps.min.js'></script>
		<!-- bootstrap -->
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

		<script src="/js/app.js"></script>
	</body>
</html>