<!-- lightbox -->






fdfd 









<!--

<div id="lightbox" ng-class="{lightbox_visible: iLightIndex > -1 && iLightIndex < (results.length)}">
	<a class="lightbox_button" id="close_lightbox" ng-click="close_lightbox();"><i class="fa fa-times"></i></a>
	<a class="lightbox_button" id="left_lightbox" ng-click="lightChange(-1);"><i class="fa fa-arrow-left"></i></a>
	<a class="lightbox_button" id="right_lightbox" ng-click="lightChange(1);"><i class="fa fa-arrow-right"></i></a>
	<a ng-click="lightRight();">
		<img ng-src="http://5.cdn.samt.st/lightbox/{{results[iLightIndex].h}}.{{results[iLightIndex].e}}" alt="{{results[iLightIndex].p}}" title="{{results[iLightIndex].p}}" />
	</a>
</div>
<div id="top" class="z_100">
	<div id="wrapper" class="horizontal_chunk">
        <div id="search_bar">
            <input ng-model="query" type="text" placeholder="search"/>
        </div>
    </div>
    <div id="search_button" class="horizontal_chunk">
	    <a ng-click="search_mode = 'map'" ng-class="{active: search_mode == 'map'}" class="search_mode_button" id="map_mode_button">
	        <i class="fa fa-globe"></i>
	    </a>
	    <a ng-click="search_mode = 'search_map'" ng-class="{active: search_mode == 'search_map'}" class="search_mode_button" id="mapsearch_mode_button">
	        <i class="fa fa-globe"></i>&nbsp;<i class="fa fa-search"></i>
	    </a>
	    <a ng-click="search_mode = 'search'" ng-class="{active: search_mode == 'search'}" class="search_mode_button" id="search_mode_button">
	        <i class="fa fa-search"></i>
	    </a>
    </div>
    <div id="logo" class="horizontal_chunk">
        <a ng-click="query = '';">media-dump</a>
    </div>
</div>
<div id="top_info" class="z_100">
	<div id="top_info_content">
		<span ng-show="results.length < 1">Search {{total_files_in_md}} pictures with a sample query below or using the query builder on the left.</span>
		<span ng-show="results.length > 0">
			<span ng-show="bSearching">Searching <i class="fa fa-rotate-right rotate"></i></span><a ng-show="!bSearching" ng-click="bSearching = false;query = '';">Search &gt;</a> {{query}}
		</span>
	</div>
</div>
<div id="middle">
	<div class="left_container" id="query_builder_container">
		<a href="#" ng-click="bQueryBuilderVisible = !bQueryBuilderVisible">
			<span id="show_query_builder_link" ng-class="{toggle_hide: bQueryBuilderVisible}" class="show_query_builder"><i class="fa fa-arrow-right" title="Show query builder"></i></span>
			<span ng-class="{toggle_hide: !bQueryBuilderVisible}" class="show_query_builder"><i class="fa fa-arrow-left"></i> Hide query builder</span>
		</a>
		<div id="query_builder" ng-class="{toggle_show: bQueryBuilderVisible}">
			query builder
		</div>
	</div>
	<div id="results" class="{{search_mode}}" ng-show="b_results()">
		<div id="map_results">
			<map id="google_map" center="{{map_settings.centre}}" zoom="{{map_settings.zoom}}" on-bounds_changed="map_changed()">
				<marker ng-repeat="marker in results" icon="{{urlFromHash('map_search', marker.h, '')}}" position="[{{marker.a}},{{marker.o}}]" clickable="true" on-click="map_icon_click({{$index}})"/>
			</map>
		</div>
		<div id="thumb_results">
			<a class="thumb_result_link" ng-repeat="result in results" ng-click="thumb_click($index)">
				<img alt="{{result.p}}" title="{{result.p}}" ng-src="{{urlFromHash('thumbs', result.h, '')}}"/>
			</a>
		</div>
	</div>
	<div ng-hide="b_results()">
		<div id="no_results_message" ng-show="b_query()">no results for your query</div>
		<div id="default_queries">
			<a ng-repeat="default_query in default_queries" class="default_query" ng-click="do_default_query(default_query.tag_value)">
				<img ng-src="http://7.cdn.samt.st/a/{{default_query.hash}}.jpg" alt="{{default_query.tag_value}}" title="{{default_query.tag_value}}" /><br/>
				<span>{{default_query.tag_value}} ({{default_query.datetime}})
			</a>
		</div>
	</div>
</div>
<div id="bottom">
	<div id="pagination_social_container" ng-show="search_info.count > 0">
		<div id="pagination_social">
			Found around {{search_info.count * search_info.available_pages}} files in <i class="fa fa-flash"></i> {{search_info.total_speed | number:2}} ms -
			<span ng-show="show_pagination()">
				<a ng-show="pagination_enabled(true)" ng-click="page=page-1;">
			        Previous
			    </a>
			    {{page}}/{{search_info.available_pages}}
			    <a ng-show="pagination_enabled(false)" ng-click="page=page+1;">
			        Next
			    </a>
		    </span>
		    <span ng-show="show_map_summary()">
		    	Showing around {{search_info.count}}
		    </span>
		</div>
	</div>
	<a id="help" href="#" class="fa fa-question"></a>
</div>


-->